<div class="app-container">
  <mat-toolbar color="primary">
  <img id="app-icon" src="assets/app-icon.png">
  <span class="small-spacer"></span>
  <span mat-button class="title-text" [routerLink]="'/home'">Cockatoos</span>
  <span class="large-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/app/scores'">PROGRESS </a>
    <a mat-button [routerLink]="'/app/practice'"> PRACTICE </a>
  </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet class="outer-outlet"></router-outlet>
  </div>

</div>
