.home-page-container
    background-color: #392E45
  
.app-button
    background-color:#D9AD2B    
    border-radius: 30px
    color: #ffffff

.slogan
    position: relative
    top: 45%
    left: 5%

.header
    font-size: 60px
    color: white

.sub-header
    font-size: 30px
    color: white
    font-weight: 300

.sector-container
    height: 80vh
    margin: auto

.yellow-bg
    background-color: #D9AD2B

.landing-page-cover
    position: absolute
    bottom: 160vh
    right: 0
    max-height: 70vh

.section-header
    position: relative
    top: 10%
    left: 5%