$section-left-margin: 10%
$mashyellow: #EDDBB2
$deep-purple:#392E45
$button-color: #d14419 
    
.home-page-container
    background-color: $deep-purple

.yellow-bg
    background-color: $mashyellow
  
.app-button
    background-color: $button-color
    border-radius: 10px
    color: #ffffff

.slogan
    position: relative
    top: 45%
    left: $section-left-margin

.header-white
    font-size: 60px
    color: white
    font-weight: 400

.sub-header-white
    font-size: 30px
    color: white
    font-weight: 300

.header-purple
    font-size: 60px
    color: $deep-purple
    font-weight: 400

.sub-header-purple
    font-size: 30px
    color: $deep-purple
    font-weight: 300

.section-container
    height: 80vh

.landing-page-cover
    position: absolute
    top: 0
    right: 0
    max-height: 80vh

.section-header
    position: relative
    top: 15%
    left: $section-left-margin

.second-section-img
    max-height: 40vh

.footer
    display: flex
    flex-direction: column
    background-color: $mashyellow
    justify-content: center
    align-items: center
    height: 40vh

    .footer-title
        font-size: 40px
        color: $deep-purple

    .app-button
        margin-top: 32px

.section-paragraph
    display: flex
    flex-direction: row
    margin-left: $section-left-margin
    margin-top: 120px
    a
        color: $mashyellow

.section-article
    font-size: 30px
    color: $deep-purple
    margin-left: 32px

