<div class="home-page-container">
    <div class="sector-container">
        <div class="slogan">
            <span class="header">Cockatoos</span>
            <br>
            <br>
            <span class="sub-header">Your 24/7 Speech Coach.</span>
            <br>
            <br>
            <a class="app-button" mat-button [routerLink]="'/app'"> Get Started </a>
        </div>

        <img class="landing-page-cover" src="../../../assets/peekaboo.jpeg" alt="Peekaboo">
    </div>

    <div class="sector-container yellow-bg">
        <div class="section-header">
            <span class="header">What we do</span>
        </div>
    </div>

    <div class="sector-container">

    </div>
</div>