<div class="home-page-container">
    <div class="section-container">
        <div class="slogan">
            <span class="header-white">Cockatoos</span>
            <br>
            <br>
            <span class="sub-header-white">Your 24/7 Speech Coach.</span>
            <br>
            <br>
            <a class="app-button" mat-button [routerLink]="'/app'"> Get Started </a>
        </div>

        <img class="landing-page-cover" src="../../../assets/peekaboo.jpeg" alt="Peekaboo">
    </div>

    <div class="section-container yellow-bg">
        <div class="section-header">
                <span class="header-purple">Practice Your Speaking</span>
                <br>
                <br>
                <span class="sub-header-purple">With user-friendly UI</span>
                <br>
                <br>
        </div>
        <div class="section-paragraph">
            <div>
                <img class="second-section-img" src="../../../assets/dummy-dashboard.jpg" alt="Dashboard">
            </div>
            <div class="section-article">
                Reach your target accent in 3 simple steps:
                <br>
                <ol>
                    <li>Listen to the phrase</li>
                    <br>
                    <li>Repeat what you hear</li>
                    <br>
                    <li>Get a feedback on how you sound like</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="section-header">
            <span class="header-white">Instant Feedback</span>
            <br>
            <br>
            <span class="sub-header-white">From our Machine Learning model</span>
        </div>
        <div class="section-paragraph" style="color: white; font-size: 30px;">
            The deep learning model we use for accent scoring is based on &nbsp;
            <a href="http://cs229.stanford.edu/proj2017/final-reports/5244230.pdf"> this paper</a>.
        </div>
    </div>

    <div class="footer">
        <span class="footer-title">Give it a try!</span>
        <a class="app-button" mat-button [routerLink]="'/app'"> Get Started </a>
    </div>
</div>