.info-container
    height: 100%
    width: 100%
    display: flex
    justify-content: center

.info-column
    flex: 1
    display: flex
    justify-content: center
    margin-top: 32px
    
.centered-tour-element 
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-140px, -86px)
    
