<div class="container">
    <div class="badges-container">
        <span class="label-text">Badges:</span>
        <img id="badges" src="assets/badges.png" />
    </div>

    <div class="details-container">
        <div class="goals-container">
            <div class="label-text">Daily Goal:</div>
            <img id="daily-progress" src="assets/daily-progress.png" />
        </div>
        <div class="label-text" id="scores-heading">Scores:</div>
        <div class="charts-container">
            <div class="info-column accent-score" *ngIf="accentData$ | async; let accentData">
                <app-score-chart [historicalData]="accentData" label="Accent"> </app-score-chart>
            </div>
            <div class="info-column clarity-score" *ngIf="clarityData$ | async; let clarityData">
                <app-score-chart [historicalData]="clarityData" label="Clarity"> </app-score-chart>
            </div>
        </div>
    </div>

    <div class="centered-tour-element" tourAnchor="tour-start"></div>
</div>

<div id="warning">
    <div>
        <h1>Please make your web browser wider for a better experience!</h1>
    </div>
</div>
<!-- <tour-step-template></tour-step-template> -->
