<mat-card>
  <mat-card-title>
    {{ label }} Score
  </mat-card-title>
  <mat-card-content class="score-card-content">
    <div class="score-chart-number-column">
      <span class="mat-display-3">
        {{ (currentValue !== null && currentValue !== undefined) ? currentValue : '--' }}
      </span>
      <span>
        Ave. {{ (averageValue !== null && averageValue !== undefined) ? averageValue : '--' }}
      </span>
    </div>

    <div class="score-chart-highcharts-column">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
      >
      </highcharts-chart>
    </div>
  </mat-card-content>
</mat-card>
  
