.score-card-content
    display: flex
    padding: 32px


.score-chart-number-column
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center


.score-chart-highcharts-column
    flex: 2
    margin-left: 32px