<section *ngIf="textToSpeech.available" class="article-comparison-view">
    <div class="document-section">
        <mat-card class="full-document">
            <mat-card-header>
                <mat-card-title>Document</mat-card-title>
                <mat-card-subtitle>TODO: create HighlightDiff component</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h1>
                    {{ document.text }}
                </h1>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="user-section">
        <mat-card class="ground-truth-phrase">
            <mat-card-header>
                <mat-card-subtitle>Target Phrase</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h1>
                    {{ targetPhrase }}
                </h1>
            </mat-card-content>
        </mat-card>

        <mat-card class="recorded-phrase">
            <mat-card-header>
                <mat-card-subtitle>Recorded Phrase</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h1 [ngSwitch]="phraseState">
                    <ng-container *ngSwitchCase="'RECORDING'">
                        {{ recordedSpeechToText.transcript$ | async }}
                        <br />
                        <br />
                        <mat-spinner diameter="30"></mat-spinner>
                    </ng-container>
                    <ng-container *ngSwitchCase="'DONE'">
                        <app-phrase-diff
                            recordedPhrase="{{ recordedSpeechToText.transcript$ | async }}"
                            groundTruth="{{ targetPhrase }}"
                        ></app-phrase-diff>
                    </ng-container>
                </h1>
            </mat-card-content>
        </mat-card>

        <div class="controls">
            <button
                mat-raised-button
                color="primary"
                id="btnSpeak"
                (click)="textToSpeech.speak(targetPhrase)"
                [disabled]="textToSpeech.speaking$ | async"
            >
                Speak
            </button>

            <button mat-raised-button (click)="startRecording()" [disabled]="phraseState !== 'INIT'">Record</button>

            <button mat-raised-button (click)="stopRecording()" [disabled]="phraseState !== 'RECORDING'">Stop</button>
        </div>
    </div>
</section>

<section *ngIf="!textToSpeech.available || (recordedSpeechToText.available$ | async) === false">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Error</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>Sorry, your browser does not support Web Speech API.</h2>
        </mat-card-content>
    </mat-card>
</section>
