.practice-container
    display: flex
    justify-content: center
    align-items: center
    margin: 48px
    flex-direction: column

.button-container
    display: flex
    max-height: 20vh
    justify-content: center
    align-items: center
    margin-top: 32px