<div class="practice-container" *ngIf="(status$ | async) == 'READY'">

    <div class="recording-container" *ngIf="article$ | async; let article">
        <app-article-comparison [article]="article"></app-article-comparison>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" [routerLink]="'/app'">Finish Today's Practice</button>

        <button
            mat-raised-button
            color="secondary"
            style="margin: 16px"
            (click)="nextArticle()"
            disabled="{{ noMoreArticles$ | async}}"
            >Practice More</button>
    </div>
</div>
