.practice-container
    justify-content: center
    align-content: center
    margin: 48px
    max-height: 80vh

.button-container
    display: flex
    max-height: 20vh
    justify-content: center
    align-content: center