<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="info-container">
    <mat-card>
      <app-score-chart
        [historicalData]="testAccentData"
        [currentValue]="77"
        label="Accent"    
      ></app-score-chart>
    </mat-card>
    <mat-card style="margin-left: 20px">
      <app-score-chart
        [historicalData]="testClarityData"
        [currentValue]="67"
        label="Clarity"    
    ></app-score-chart>
    </mat-card>
  </div>


  <div class="practice-container">
    The speaking practice part
  </div>

  <div>buton on analysing</div>


</div>

<router-outlet></router-outlet>